body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
}

#latlng{
  display: block;
  margin: 0;
  padding: 0;
  position: absolute; /* posición absoluta a navegador */
  top: 0;             /* ajusta a borde de navegador */
  left: 0;
  right: 0;
  height: 50px;
}

#map{
  display: block;
  margin: 0;
  padding: 0;
  position: absolute; /* posición absoluta a navegador */
  top: 50px;      /* 50px debajo de borde de navegador */
  left: 0;        /* ajusta a borde de navegador */
  right: 0;
  bottom: 0;
  background: rgba(0,255,0,0.5); /* verde si no hay mapa */
}

#btn-reset {
  background-color: rgba(0,0,255,0.50);
  position:absolute;
  bottom:3em;
  right: 3em;
  border-radius: 50%;
  cursor: pointer;
  padding:1em;
}

#btn-compres {
  background-color: rgba(0,255,255,0.50);
  position:absolute;
  bottom:3em;
  right: 6.5em;
  border-radius: 50%;
  cursor: pointer;
  padding:1em;
}

#btn-reset i, #btn-compres i{
  color:white;
  font-size: 1.5em;
}

.oculto {
  display:none;
}
